.footer {
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   & .footer__logo {
     margin-bottom: 10px;
      position: relative;
      &::after{
         content: ' ';
         display: inline-block;
         width: 10px;
         height: 10px;
         position: absolute;
         right:-15px;
         top:-5px;
         background: inherit;
         border-radius: 50%;
         border: 3px solid #ff343d;     
         z-index: 5;
      }
   }
   & .footer__span {
      @include adaptiv-font(14,14);
      line-height: 30px;
      font-weight: 400;
      color: #92a1a5;
   }
   @media (max-width: 500px) {
      height: 150px;
   }
}

