@import "./slick.scss";

.header{
   min-height: 100vh;
   display: flex;
   overflow-x: hidden;
   flex-direction: column;
   background: linear-gradient(to right, #eff2f6 60%, #ff343d 60%);
   & button{
      background: inherit;
      color: white;
   }
   @media (max-width: 700px) {
      background: #eff2f6;
   }
}

.header__menu{
   flex: 0 0 60px;
   width: 100%;
   max-width: 1500px;
   padding: 50px 20px 10px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   & .menu__item{
      display: flex;
      align-items: center;
      & .header__logo{
         margin-right: 30px;
         position: relative;
         &::after{
            content: ' ';
            display: inline-block;
            width: 10px;
            height: 10px;
            position: absolute;
            right:-15px;
            top:-5px;
            background: inherit;
            border-radius: 50%;
            border: 3px solid #ff343d;     
            z-index: 5;
         }
      }
      & .header__phone{
         @include adaptiv-font(14,12);
         line-height: 30px;
         font-weight: 400;
         color: #92a1a5;
         display: flex;
         align-items: center;
         font-weight: 700;
         & img {margin-right: 7px;}
     }  
      & .header__btn{
         display: flex;
         align-items: center;
         position: relative;
         z-index: 15;
         & .btn__text{
            margin-right: 20px;
            text-transform: uppercase;
            @include adaptiv-font(16,12);
            line-height: 30px;
            font-weight: 700;
         }
      }
      @media (max-width: 700px) {
         flex-direction: column;
         & .header__logo{margin-bottom: 10px;}
         &:first-child{
            position: relative;
            top: 10px;
         }
      }
   }
   @media (max-width: 700px) {
      flex: 0 0 60px;
      padding: 10px 20px;
      background: linear-gradient(to right, #eff2f6 60%, #ff343d 60%);
   }
   @media (max-width: 500px) {
      background: linear-gradient(to right, #eff2f6 50%, #ff343d 50%);
   }
}

.header__fullscreen{
   flex: 1 1 auto;
   padding: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   & .schrollBtn{
      position: absolute;
      left: 0;
      bottom: 0;
      @include adaptiv-font(18,12);
      font-weight: 700;
      color: #000000;
      transform: rotate(-90deg) translateX(70%);
   }
   @media (max-width: 700px) {
      padding: 60px 15px;
   }
   @media (max-height: 1000px) and (max-width: 700px) {
      align-items: flex-start;
   }
}


.slick-list{
   overflow: hidden;
}

.slick-slide{
   padding: 0  0 0 30px;
   opacity: 0;
   @media (max-width: 700px) {
      padding: 0;
   }
   &.slick-current{
      opacity: 1;
      transition: all 0.8s ease;
   }
}

.slick-dots {
   position: absolute;
   left: -15px;
   bottom: 50%;
   transform: translateY(50%);
   & li button{
      background: #5e5a5a;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      font-size: 0;
   }
   & li.slick-active button{
      background:  #ff343d;
      border: none
   }
   @media (max-width: 700px) {
      left: 50%;
      bottom: -50px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10%;
      min-width: 70px;
   }

}


.header__slider{
   min-width: 0;
   & .header__content{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
   }
   & .header__info{
       margin-right: 15px;
       flex: 0 0 40%;
       text-align: right;
       & .header__title{
         @include adaptiv-font(60,25);
         line-height: 60px;
         font-weight: 700;
         color: #000000;
         margin-bottom: 30px;
         text-transform: uppercase;
       }
       & p{
         @include adaptiv-font(14,12);
         line-height: 30px;
         font-weight: 400;
         color: #92a1a5;
       }
   }
   & .header__img{
      position: relative;
      flex: 0 0 60%;
      & img{
         position: relative;
         width: 100%;
         z-index: 2;
      }
      &::after{
         content: '';
         display: inline-block;
         width: 60%;
         height: 100%;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50% , -50%);
         background: white;
         border-radius: 50%;
      }
   }
   @media (max-width: 700px) {
      & .header__content{
      flex-direction: column;
      min-height: 100%;
         & .header__info{
            text-align: center;
            margin: 0 0 30px;
            & .header__title{margin-bottom: 15px;}
         }
         & .header__img{
            width: 90%;
            margin: 0 auto;
         }
      }
   }
   @media (max-width: 500px) {
      & .header__img{
         width: 100%;
      }
   }
}

@import "./burger.scss";