@import "./mixins.scss";
@import "./nule.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body, html {
   height: 100%;
}

*{
   font-family: 'Montserrat', sans-serif;
}

body{
   overflow-x: hidden;
}

@import "./header.scss";
@import "./slogan_section.scss";
@import "./features_section.scss";
@import "./generation_section.scss";
@import "./journey_section.scss";
@import "./footer.scss";